# Salesforce
.sf/
.sfdx/

# Node
node_modules/
package-lock.json

# VS Code
.vscode/

# OS
.DS_Store

# Logs
*.log

# Project config (do not commit)
.forceignore
.prettierrc
.prettierignore
eslint.config.js
jest.config.js
package.json

# Tooling / scripts
config/
scripts/
.husky/
